* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100vw;
    height: 10vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-navbar {
    margin: 1rem;
    width: 15rem;
    height: 3rem;
    font-size: 2rem;
    background-color: red;
    text-align: center;
    border-radius: 1rem;
}

.btn-navbar:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.main {
    width: 100vw;
    height: 90vh;
}

.pagination {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn-pagination {
    width: 2rem;
    height: 2rem;
    margin: 0.2rem;
}

.cards-field {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 14rem;
    height: 10rem;
    margin: 0.2rem 1rem;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-img {
    width: 7rem;
    height: 7rem;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caught {
    border-color: red;
}